<% @challenge = Antispam::Challenge.create %>
<div class="centerblock">
<h1>Human Challenge</h1>

<p>Please prove that you are human.</p>

<img src="/antispam/challenges/<%= @challenge.id %>.jpg" width="200" height="40">

<%= form_for @challenge do |f| %>
  <%= f.hidden_field :id, value: @challenge.id %>
  <%= f.text_field :answer, value: '' %>
  <%= submit_tag "Submit" %>
<% end %>

<% flash.each do |type, msg| %><div><%= msg %></div><% end %>
</div>