<%= form_with(model: clear) do |form| %>
  <% if clear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clear.errors.count, "error") %> prohibited this clear from being saved:</h2>

      <ul>
        <% clear.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer %>
  </div>

  <div class="field">
    <%= form.label :threat_before %>
    <%= form.number_field :threat_before %>
  </div>

  <div class="field">
    <%= form.label :threat_after %>
    <%= form.number_field :threat_after %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
