<p id="notice"><%= notice %></p>

<h1>Clears</h1>

<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th>Result</th>
      <th>Answer</th>
      <th>Threat before</th>
      <th>Threat after</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Antispam::Clear.all.order(created_at: :desc).limit(50).each do |clear| %>
      <tr>
        <td><%= clear.ip %></td>
        <td><%= clear.result %></td>
        <td><%= clear.answer %></td>
        <td><%= clear.threat_before %></td>
        <td><%= clear.threat_after %></td>
        <td><%= time_ago_in_words clear.created_at %> ago</td>
<!--        <td><%#= link_to 'Show', clear %></td>-->
<!--        <td><%#= link_to 'Edit', edit_clear_path(clear) %></td>-->
<!--        <td><%#= link_to 'Destroy', clear, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
