<%= form_with(model: block) do |form| %>
  <% if block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
        <% block.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

  <div class="field">
    <%= form.label :provider %>
    <%= form.text_field :provider %>
  </div>

  <div class="field">
    <%= form.label :controllername %>
    <%= form.text_field :controllername %>
  </div>

  <div class="field">
    <%= form.label :actionname %>
    <%= form.text_field :actionname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
